@use "../../../style/mixin" as *;
@use "../../../style/variable" as *;

main {
  @include flex($direction: column, $justify: center, $gap: 2rem);
  overflow-x: hidden;

  position: relative;

  div.box {
    inline-size: 20%;
    block-size: 20%;

    @media screen and (max-width: 767px) {
      inline-size: 25rem;
      block-size: 25rem;
    }

    position: absolute;

    transition: 4s;

    div {
      inline-size: 100%;
      block-size: 100%;

      &:first-child {
        background-image: linear-gradient(to top right, hsla(212, 100%, 50%, 0.5), hsla(202, 100%, 50%, 0));

        filter: blur(15rem);
      }

      &:last-child {
        background-image: linear-gradient(to top, hsla(263, 100%, 50%, 0.8), hsla(180, 100%, 50%, 0));

        position: absolute;
        inset: 0;

        filter: blur(20rem);
      }
    }
  }

  section {
    &.banner {
      @include flex($align: center, $justify: center);
      block-size: 100dvh;
      inline-size: min(95%, 102.4rem);

      div {
        &.container {
          @include flex($direction: column, $align: center, $justify: center);

          inline-size: 100%;
          block-size: 100%;

          position: relative;

          div.content {
            @include flex($direction: column, $gap: 2rem);

            position: relative;
            inset-block-start: -2rem;

            h1 {
              color: hsl(220, 48%, 14%);
              font-size: 2.6rem;
              font-weight: bold;
            }
          }

          a {
            position: absolute;
            inset-block-end: 0;
            inset-inline-end: 50%;

            transform: translateX(-50%);

            div {
              @include flex($align: center, $justify: center);

              & > * {
                position: absolute;
              }

              img {
                border-radius: 50%;

                &.no-blur {
                  animation: rotation 5s infinite linear;
                }

                &:last-child {
                  position: relative;
                  animation: reverseRotation 5s infinite linear;
                  filter: blur(0.5rem);
                }
              }
            }
          }
        }
      }
    }

    &#module {
      @include flex($justify: flex-start, $direction: column, $gap: 2rem);
      padding-block-start: 10rem;

      inline-size: 100%;

      & > div {
        @include flex($direction: column);

        inline-size: 100%;

        &:first-child {
          @include flex($justify: center, $gap: 8rem);
          inline-size: 100%;
          font-size: 2rem;

          padding-block-end: 3rem;

          @media screen and (max-width: 767px) {
            flex-wrap: wrap;
            &>*{
              inline-size: 100%;
            }

          }

          & > div {
            @include flex();

            position: relative;

            img:last-child {
              position: absolute;
              inset-block-start: -2.6rem;
            }
          }
        }

        ul {
          @include flex($gap: 3rem);
          z-index: 2;

          li {
            @include flex($direction: column);
            font-size: 1.6rem;

            transition: 0.25ms;

            cursor: pointer;

            &.selected {
              img {
                position: relative;
                inset-block-start: -1.2rem;
              }

              p {
                font-weight: bold;
              }
            }
          }
        }

        div.box {
          background-color: white;
          block-size: 8rem;
          inline-size: min(100%, 80rem);
          position: relative;
          inset-block-start: -6rem;
          border-radius: 0.8rem;
          box-shadow: 0 2.4rem 4rem 0 hsla(236, 8%, 41%, 0.08);
        }

        div.description {
          @include flex($direction: column, $align: flex-start, $gap: 1rem);
          inline-size: min(95%, 102.4rem);

          span.title {
            position: relative;
            @include flex($align: flex-end, $justify: center);

            h3 {
              font-size: 2.4rem;

              &:first-child {
                position: absolute;
              }

              &:last-child {
                font-family: Playfair, serif;
                font-size: 4rem;

                background: linear-gradient(to bottom, #C4C4C4, white);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
          }

          p {
            font-size: 1.6rem;
          }
        }
      }
    }

    &.invite {
      @include flex($direction: column);
      padding-block-start: 3rem;

      span.title {
        position: relative;
        @include flex($align: flex-end, $justify: center);

        h3 {
          font-size: 2.8rem;

          &:first-child {
            position: absolute;
            font-size: 2.1rem;
          }

          &:last-child {
            font-family: Playfair, serif;
            font-size: 4rem;

            background: linear-gradient(to bottom, #C4C4C4, white);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }

      div.card-back {
        @include flex();
        position: relative;

        inline-size: min(102.4rem, 95%);

        img.card {
          inline-size: 100% !important;
          block-size: inherit !important;
        }

        div.title {
          p {
            font-size: 1.6rem;

            &:first-child {
              font-weight: bold;
            }
          }
        }

        form {
          @include flex($gap: 1rem);
          block-size: calc(100% - 20rem);
          inline-size: calc(100% - 20rem);
          position: absolute;

          .box-card {
            @include flex($direction: column, $justify: flex-start, $align: flex-start, $gap: 1.3rem);
            padding-block-start: 5% !important;
            inline-size: 100%;
            block-size: 100%;

            padding: 1rem;

            &:first-child {
              flex: 2;
              @include flex($justify: space-evenly, $direction: column);

              padding: 1rem !important;

              p {
                font-size: 1.6rem;
                font-weight: bold;
              }
            }

            &:nth-child(2) {
              flex: 7;
              padding-inline-end: 10%;
            }
          }

          .row {
            @include flex($gap: 1rem);
            inline-size: 100%;

            div {
              flex: 1;
              @include flex($align: flex-start, $direction: column);

              label {
                padding-block-start: 1.4rem;

                color: $light-black;
                font-size: 1.4rem;
              }

              input {
                block-size: 4.2rem;
                inline-size: 100%;

                background-color: $light-white;

                border-radius: 1rem;
                border: 0.2rem solid $light-grey;

                padding: 0.25rem 1rem;


                &:focus-visible {
                  outline-color: $blue;
                }

                &:invalid {
                  outline-color: $red;
                }
              }

            }
          }

          div.submit {
            position: absolute;
            inset-inline-end: -6rem;
            @include flex();

            img {
              position: absolute;
            }

            button {
              block-size: 10rem;
              inline-size: 10rem;
              border-radius: 50%;
              z-index: 1;
              background-color: #1B2559;
              border: 0;
              color: white;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes reverseRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}
