<header>
  <button (click)="showMenu()" *ngIf="menu.length !== 0">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path d="M3 7H21" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"/>
      <path d="M3 12H21" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"/>
      <path d="M3 17H21" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"/>
    </svg>
  </button>

  <div [ngClass]="isShow ? 'container show' : 'container'">
    <button (click)="showMenu()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M6 12H18" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M12 18V6" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>

    <a routerLink="/">
      <img ngSrc="assets/image/EXIN.webp" alt="EXIN logo" width="260" height="260" priority="1">
    </a>

    <ul *ngIf="menu.length !== 0">
      <li *ngFor="let item of menu; trackBy: identify">
        <a [routerLink]="item.link">{{item.title}}</a>
      </li>
    </ul>

    <a routerLink="/login" class="login-btn">ورود به برنامه</a>
  </div>
</header>
