<header>
  <div [ngClass]="hasMenu ? 'hasMenu' : 'noMenu'">

    <button *ngIf="hasMenu" class="menu-icon" (click)="showMenu()">
      <i class="fa-solid fa-bars"></i>
    </button>

    <a routerLink="/">
      <img ngSrc="/assets/image/EXIN.webp" alt="EXIN logo" width="260" height="260" priority="1">
    </a>

    <ul *ngIf="hasMenu" [ngClass]="isShow ? 'show' : ''">
      <li *ngFor="let item of menu; trackBy: identify">
        <a [routerLink]="item.link">{{item.title}}</a>
      </li>
    </ul>

  </div>
</header>

<div class="dark" [ngClass]="isShow ? 'show' : ''" (click)="showMenu()"></div>
