<header [ngClass]="isShow ? 'show' : ''">
  <div [ngClass]="menu.length>0 ? 'hasMenu' : 'noMenu'">
    <button *ngIf="menu.length>0" class="menu-icon" (click)="showMenu()">
      <i class="fa-solid fa-bars"></i>
    </button>

    <a routerLink="/">
      <img ngSrc="assets/image/EXIN.webp" alt="EXIN logo" width="260" height="260" priority="1">
    </a>

    <ul *ngIf="menu.length>0" [ngClass]="isShow ? 'show' : ''">
      <li *ngFor="let item of menu; trackBy: identify">
        <a [routerLink]="item.link">{{item.title}}</a>
      </li>
    </ul>

  </div>
</header>

<div class="dark" [ngClass]="isShow ? 'show' : ''" (click)="showMenu()"></div>
