@use "../../../style/mixin" as *;
@use "../../../style/variable" as *;

app-header {
  position: fixed;
  inset-inline: 0;
  inset-block-start: 0;

  z-index: 999;
}

main {
  @include flex($direction: column, $justify: center);

  section {
    &.banner {
      @include flex($align: center, $justify: center);

      inline-size: 97vw;
      overflow: hidden;

      position: relative;

      div {
        &.box {
          inline-size: 20%;
          block-size: 20%;

          position: absolute;

          transition: 4s;

          div {
            inline-size: 100%;
            block-size: 100%;

            &:first-child {
              background-image: linear-gradient(to top right, hsl(212, 100%, 50%), hsla(202, 100%, 50%, 0));

              filter: blur(15rem);
            }

            &:last-child {
              background-image: linear-gradient(to top, hsl(263, 100%, 50%), hsla(180, 100%, 50%, 0));

              position: absolute;
              inset: 0;

              filter: blur(20rem);
            }
          }
        }

        &.container {
          @include flex($direction: column, $align: center, $justify: center);

          block-size: 100vh;
          inline-size: min(95%, 102.4rem);

          position: relative;

          div.content {
            @include flex($direction: column, $gap: 2rem);

            h1 {
              color: hsl(220, 48%, 14%);
              font-size: 2.6rem;
              font-weight: bold;
            }
          }

          a {
            position: absolute;
            inset-block-end: 0;
            inset-inline-end: 50%;

            transform: translateX(-50%);

            div {
              @include flex($align: center, $justify: center);

              & > * {
                position: absolute;
              }

              img {
                border-radius: 50%;

                &.no-blur {
                  animation: rotation 5s infinite linear;
                }

                &:last-child {
                  position: relative;
                  animation: reverseRotation 5s infinite linear;
                  filter: blur(0.5rem);
                }
              }
            }
          }
        }
      }
    }

    &#module {
      block-size: 100vh;
    }
  }

}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes reverseRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}
