<app-header [menu]="menu"></app-header>

<main>
  <div class="box" #boxOne>
    <div></div>
    <div></div>
  </div>

  <div class="box" #boxTwo>
    <div></div>
    <div></div>
  </div>

  <section class="banner">

    <div class="container">
      <div class="content">
        <img ngSrc="assets/image/logo.webp" alt="exiness logo" height="60" width="376" class="logo" priority="1">

        <h1>تـحــــــــــولـی در بـیـزیـنـــــــــــس</h1>
      </div>

      <a href="#module">
        <div class="bottom">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12 22C16.13 22 19.5 18.63 19.5 14.5V9.5C19.5 5.37 16.13 2 12 2C7.87 2 4.5 5.37 4.5 9.5V14.5C4.5 18.63 7.87 22 12 22Z"
              stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <g opacity="0.4">
              <path
                d="M12 11C11.17 11 10.5 10.33 10.5 9.5V7.5C10.5 6.67 11.17 6 12 6C12.82 6 13.5 6.67 13.5 7.5V9.5C13.5 10.33 12.82 11 12 11Z"
                stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M12 6V2" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
          </svg>

          <img ngSrc="assets/image/exiness.webp" alt="exiness" height="105" width="105" class="no-blur" priority="1">

          <img ngSrc="assets/image/exiness.webp" alt="exiness" height="152" width="152" priority="1">
        </div>
      </a>
    </div>
  </section>

  <section id="module">
    <div>
      <p>به تناسب نیازهای هــر فرد</p>

      <div>
        <img ngSrc="assets/image/Light.webp" alt="white box" width="130" height="169" priority="1">
        <img ngSrc="assets/image/grey-exiness.webp" alt="exiness" height="207" width="207" priority="1">
      </div>

      <p>یک راه حــل منحصر به فرد</p>
    </div>

    <div>
      <ul>
        <li (click)="changeModule(0)" [class]="selectedModule === 0 ? 'selected' : ''">
          <img ngSrc="assets/image/Purple.webp" alt="white box" width="70" height="91" priority="1">
          <p>Vision</p>
        </li>

        <li (click)="changeModule(1)" [class]="selectedModule === 1 ? 'selected' : ''">
          <img ngSrc="assets/image/Teal.webp" alt="white box" width="70" height="91" priority="1">
          <p>Mission</p>
        </li>

        <li (click)="changeModule(2)" [class]="selectedModule === 2 ? 'selected' : ''">
          <img ngSrc="assets/image/Yellow.webp" alt="white box" width="70" height="91" priority="1">
          <p>Action</p>
        </li>

        <li (click)="changeModule(3)" [class]="selectedModule === 3 ? 'selected' : ''">
          <img ngSrc="assets/image/Orange.webp" alt="white box" width="70" height="91" priority="1">
          <p>Dashboard</p>
        </li>

        <li (click)="changeModule(4)" [class]="selectedModule === 4 ? 'selected' : ''">
          <img ngSrc="assets/image/Blue.webp" alt="white box" width="70" height="91" priority="1">
          <p>Option</p>
        </li>

        <li (click)="changeModule(5)" [class]="selectedModule === 5 ? 'selected' : ''">
          <img ngSrc="assets/image/Green.webp" alt="white box" width="70" height="91" priority="1">
          <p>ChatBot</p>
        </li>

        <li (click)="changeModule(6)" [class]="selectedModule === 6 ? 'selected' : ''">
          <img ngSrc="assets/image/Red.webp" alt="white box" width="70" height="91" priority="1">
          <p>Store</p>
        </li>
      </ul>

      <div class="box"></div>

      <div class="description">
        <span class="title">
          <h3>{{faTitle[selectedModule]}}</h3>
          <h3>{{enTitle[selectedModule]}}</h3>
        </span>

        <p>{{description[selectedModule]}}</p>
      </div>
    </div>
  </section>
</main>
