@use "style/variable" as *;

@font-face {
  font-family: Ravi;
  src: url('assets/font/Ravi.woff') format('woff'),
  url('assets/font/Ravi.ttf') format('truetype'),
  url('assets/font/Ravi.eot') format('opentype');
}

@font-face {
  font-family: Playfair;
  src: url('assets/font/PlayfairDisplay-Regular.ttf') format('truetype');
}

*, *:before, *:after {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p, a, input, button, b, i, label, textarea {
  font-family: Ravi, serif;
}

a {
  color: $black;
  text-decoration: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
